html {
    height: 100%;
    font-family: sans-serif;
}
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
}
.navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-shrink: 0;
    background-color: #c3c3c3;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.content-head {
    display: infline-flex;
    flex-shrink: 0;
    background-color: rgb(75,75,75);
    color: white;
    padding: 20px;
    margin: 0;
}
.content-main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    margin: 0;
}
ul.nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 5px;
}